<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>404</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
              {{>header}}
            {{errMsg}}
        </div>
        {{>footer}}
    </body>
</html>