<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
             {{>header}}
            <img class="portrait" src="/images/ved.jpg">
        </div>
       
        {{>footer}}
    </body>
</html>